<%- include('../includes/header'); %>
    <script src="/js/ajoutCours.js" defer></script>

    <div>

        <fieldset>
            <legend>Année</legend>
            <input type="text" id="textAnne" placeholder="Rechercher / ajouter une année">
            <% for (let i=0; i < locals.data.length; i++) { %>
                <a>
                    <%= locals.data[i].annee %> <span id="suprAnne"></span>
                </a>
                <% } %>
                    <a id="ajoutAnnee"> Ajouter une année </a>
        </fieldset>

    </div>

    <%- include('../includes/footer'); %>